<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoList-ios-VIPER.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>328564F12CF4CB490001C830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3285650A2CF4CB4A0001C830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>328565142CF4CB4A0001C830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
